@import "tailwindcss";

:root {
  --background: #f8f6f7;
  --foreground: #171717;
  --primary: #d41162;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-display: var(--font-display);
  --color-primary: var(--primary);
}

@layer components {
  .drop-cap {
    @apply float-left mr-3 mt-1;
    
  }
  
  .drop-cap::first-letter {
    @apply mr-4 font-bold;
    initial-letter: 2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
